<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHGameIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZHGameTVOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C696A8811C1CFC75000333DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C696A8951C1CFC75000333DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C696A8A01C1CFC75000333DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C696A8B61C1CFC88000333DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C696A8C61C1CFC88000333DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C696A8D11C1CFC88000333DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
